//
//
// For all your quick and dirty CSS Hacks. Which you _will_ fix later.
// Document them, after you write them!
// Read this for info: http://csswizardry.com/2013/04/shame-css/
// --------------------------------------------------------------------------------

body {
    visibility: visible!important;
}

.band--opening {
	color: $color-dark;
	transition: $time-slow;
	&:hover {
		background-color: $color-primary;
		color: $color-light;
	}
}

.logo {
	opacity: 1;
}

.limit-width p,
.limit-width h3 {
	max-width: 40rem;
	margin: auto;
}

option[selected=true] {
	background-color: $color-primary;
}

.file {
	&__ghost {
		position: absolute;
		opacity: 0;
		z-index: 10;
	}
}