.cookie, .cookie__toggle {
	position: fixed;
	bottom: 0;
	left: 0; }

.cookie {
	z-index: 1048;
	-webkit-font-smoothing: antialiased; }

.cookie__toggle {
	cursor: pointer;
	width: 60px;
	height: 60px;
	z-index: 1001;
	background-image: url('../images/footprint.png');
	background-repeat: no-repeat; }

.cookie__info {
	z-index: 1050;
	border: 1px solid $color-light;
	background-color: $color-primary;
	color: white;
	padding: $spacing;
	position: absolute;
	width: 265px;
	bottom: 2.5em;
	left: 2.5em;
	-moz-transition: -moz-transform 0.5s;
	-o-transition: -o-transform 0.5s;
	-webkit-transition: -webkit-transform 0.5s;
	transition: transform 0.5s;
	-moz-transform: translateX(-150%);
	-ms-transform: translateX(-150%);
	-o-transform: translateX(-150%);
	-webkit-transform: translateX(-150%);
	transform: translateX(-150%); }
	.cookie__info p {
		margin-top: 0;
		margin-bottom: 18px; }
	.cookie__info a {
		color: inherit; }
	.cookie__info.is-vissible {
		-moz-transform: translateX(0%);
		-ms-transform: translateX(0%);
		-o-transform: translateX(0%);
		-webkit-transform: translateX(0%);
		transform: translateX(0%); }
	.no-csstransforms .cookie__info {
		display: none; }
		.no-csstransforms .cookie__info.is-vissible {
			display: block; }

.cookie__button {
	display: table;
	margin-left: auto;
	margin-right: auto;
	*zoom: 1;
	padding: 0.4em 1.4em;
	cursor: pointer;
	border: 1px solid $color-light;
}


.cookie__info__header {
	margin-top: 0;
	margin-bottom: 0;
	font-size: 1.5em;
	line-height: 1; }

.cookie__close {
	position: absolute;
	cursor: pointer;
	top: .4em;
	right: .5em;
	font-size: 27px;
	line-height: 19px;
	font-family: sans-serif;
	font-weight: 700; }
