
// Accent Colors
$color-primary:      	#154733;
$color-secondary:    	#f18903;
$color-tertiary:     	#975647;

$color-cta: 		 	#f18903;

$color-light:        	#fff;
$color-grey: 		 	#666;
$color-dark:         	#000;

$color-input-enabled: 	#77706d;
$color-input-disabled: 	#dfcbc1;

$color-shadow:			rgba(0,0,0,.7);

// Fonts
$color-font-base:    	#000;
$color-font-invert:		$color-light;
$color-body:         	#fff;

// States / Alerts
$color-warn:		 	#fc0;
$color-error:        	#ff6101;

//Borders
$color-border:              #d5d5d5;
$color-border-light:        darken($color-body, 10%);
$color-border-dark:         darken($color-body, 25%);
$color-border-highlight:    #39C7ED;


// --- Float Label -------------------------------------------------------------
$color-float-text-highlighted:  #1AA1F8;
$color-float-text:              #9F9F9F;
$color-float-label:             #8D8C8C;
$color-float-help-text:         #777777;
$color-float-input-success:     #F6F7F1;
$color-float-input-error:       #F4E8EE;


// --- States ------------------------------------------------------------------
$color-state-success:           #22A030;
$color-state-error: #932C56;